@model GestionProductosMVC.ViewModels.CarritoCrearViewModel

@{
    ViewBag.Title = "Crear Orden de Compra";
}

<h2>Crear Orden de Compra</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Productos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Productos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdProductoSeleccionado, Model.Productos)
             
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Orden.cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Orden.cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Orden.cantidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <br>

   <p class="alert-danger" >  @ViewBag.Mensaje </p>

    <br>
    <br>
    @ViewBag.Error
    @Html.ActionLink("Visualizar Lista", "Index")
</div>
