@model GestionProductosMVC.Models.Carrito

@{
    ViewBag.Title = "Detalle";
}

<h2>Details</h2>

<div>
    <h4>Carrito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.producto.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.NombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.producto.PrecioVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.PrecioVenta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idSolicitud }) |
    @Html.ActionLink("Visualizar Lista", "Index")
</p>
